<!DOCTYPE html>
<html>
<head>
    <title>Samuel Newby</title>
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/about.css">
    <meta charset="UTF-8">
</head>

<body>
    <header>
        <h1><a href="../index.html">NewbyS</a></h1>
        <img src="../assets/menu.svg" alt="The navigation menu" id="nav-icon" />
        <div id="mobile-nav-menu">
            <ul>
                <li>
                    <p></p>
                    <p class="link"><a href="../index.html">Home</a></p>
                </li>
                <li>
                    <p></p>
                    <p class="link"><a href="resume.html">Resume</a></p>
                </li>
                <li>
                    <p></p>
                    <p class="link"><a href="projects.html">Projects</a></p>
                </li>
                <li>
                    <p></p>
                    <p class="link"><a href="contact.html">Contact</a></p>
                </li>
            </ul>
        </div>
    </header>
    <section>
        <div>
            <div >
                <p class="command-date"></p>
                <p id="about-command" class="hidden-typed">$ Load About Page</p>
            </div>
            <div id="response" class="hidden-response">
                <div id="school-response">
                    <div>
                    <h2>School</h2>
                    <p>I am a 4th year computer science student at the University of Toronto with a interest in mathematics, 
                        artificial intelligence and natural language processing. Through school I have experience with python, 
                        java, and c, using my knowledge to create programs such as a job scheduler, file system, and algorithms 
                        to solve problems. Having learnt not only about programming but also about the mathematics behind the 
                        algorithms we create I have experience creating algorithms and data structures to be efficient.
                    </p>
                        <h2>Computer Science</h2>
                        <p>I have worked on many personal projects and through that have gained lots of experience with python 
                            (flask), JavaScript (including frameworks such as vue, react), and kotlin. I have advanced experience 
                            with go, sql and lua, and some experience with rust. I have created multiple versions of my personal 
                            website improving with each version. I have also created a project tracking web app originally made 
                            with a rest api and a web frontend made with vue js, recently I created a new version of the application; 
                            upgrading the rest api to be made in the language go making it considerably faster, and creating a 
                            mobile app version using kotlin allowing for use of more native features. These projects can be seen in 
                            the project page.
                        </p>
                    </div>
                    <img src="../assets/about_portrait.jpg" alt="A beautiful photo of me" id="portrait" class="hidden-response" />
                </div>
                <div id="work-response">
                    <h2>Work</h2>
                    <p>For the last 3 years I have been working as a server at a Boston Pizza, this has taught me a 
                        lot of soft skills such as problem solving and leadership. Working as a server you must be 
                        adaptable and able to solve problems as they arise to ensure the guest have the best experience 
                        at your restaurant, many problems can occur such as the food not being up to par, a poorly made 
                        drink, or even a customer being too loud all while dealing with other customers. To deal with 
                        these issues I have learnt to think critically and to come up with solutions quickly as well as 
                        how to communicate my solutions to all parties, all skills which will help me not only in the 
                        workplace but also in my personal life.
                    </p>
                </div>
                <div id="vision-response">
                    <h2>Personal vision</h2>
                    <p>My goal is to learn more and to improve how computers interact with humans. I wish to be on the 
                        forefront of research in human-computer interaction, including emerging technologies such as 
                        augmented reality (ar) and furthering the research into heavily studied fields such as natural 
                        language processing. Through my knowledge of mathematics and technology I wish to help create a 
                        program/device which can help humans better communicate with the machine. I imagine a future 
                        where humans and machines become very interconnected and one of the most crucial steps needed 
                        is to better our ability to "talk" to the machines.
                    </p>
                </div>
            </div>
            <div id="nav-container">
                <p class="command-date hidden-response" id="navigation-date">30/03/21</p>
                <p id="show-navigation" class="hidden-typed">$ navigation</p>
                <div id="nav-menu" class="hidden-response">
                    <div>
                        <h2>></h2>
                        <h2 class="nav-menu-item"> <a href="../index.html">Home</a></h2>
                    </div>
                    <div>
                        <h2>></h2>
                        <h2 class="nav-menu-item"> <a href="resume.html">Resume</a></h2>
                    </div>
                    <div>
                        <h2>></h2>
                        <h2 class="nav-menu-item"> <a href="projects.html">Projects</a></h2>
                    </div>
                    <div>
                        <h2>></h2>
                        <h2 class="nav-menu-item"> <a href="contact.html">Contact</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/base.js"></script>
    <script src="../js/about.js"></script>
</body>

</html>