<!DOCTYPE html>
<html>

<head>
    <title>Samuel Newby</title>
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/contact.css">
    <meta charset="UTF-8">
</head>

<body>
    <header>
        <h1><a href="../index.html">NewbyS</a></h1>
        <img src="../assets/menu.svg" alt="The navigation menu" id="nav-icon" />
        <div id="mobile-nav-menu">
            <ul>
                <li>
                    <p></p>
                    <p class="link"><a href="../index.html">Home</a></p>
                </li>
                <li>
                    <p></p>
                    <p class="link"><a href="about.html">About</a></p>
                </li>
                <li>
                    <p></p>
                    <p class="link"><a href="resume.html">Resume</a></p>
                </li>
                <li>
                    <p></p>
                    <p class="link"><a href="projects.html">Projects</a></p>
                </li>
            </ul>
        </div>
    </header>
    <section>
        <div>
            <div id="contact-response">
                <p class="command-date"></p>
                <p id="contact-command" class="hidden-typed">$ show contact info</p>
                <p id="show-contact" class="hidden-response">
                    Email: <a href="mailto:samjnewby@hotmail.com">samjnewby@hotmail.com</a> <br>
                    Phone Number: (905)-467-6085 <br>
                    LinkedIn: <a href="https://www.linkedin.com/in/sam-newby-288896116/">https://ca.linkedin.com/</a> <br>
                </p>
                <iframe id="contact-form" class="hidden-response" src="https://docs.google.com/forms/d/e/1FAIpQLSeB9VqULEmDkinL8Vh3V_X7moYr8076FnlIlW1E_IzNaMxZlA/viewform?embedded=true" width="640" height="614px" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                <!-- <form action="mailto:samjnewby@hotmail.com" method="POST" enctype="text/plain"
                    name="EmailForm" id="contact-form">
                    <label for="name">Name</label><br>
                    <input type="text" id="name" name="name"><br>
                    <label for="message">Message</label><br>
                    <textarea name="message" id="message" cols="60" rows="10"></textarea><br>
                    <input type="submit" value="submit">
                </form> -->
            </div>

            <div id="nav-container">
                <p class="command-date hidden-response" id="navigation-date">30/03/21</p>
                <p id="show-navigation" class="hidden-typed">$ navigation</p>
                <div id="nav-menu" class="hidden-response">
                    <div>
                        <h2>></h2>
                        <h2 class="nav-menu-item"> <a href="../index.html">Home</a></h2>
                    </div>
                    <div>
                        <h2>></h2>
                        <h2 class="nav-menu-item"> <a href="about.html">About</a></h2>
                    </div>
                    <div>
                        <h2>></h2>
                        <h2 class="nav-menu-item"> <a href="resume.html">Resume</a></h2>
                    </div>
                    <div>
                        <h2>></h2>
                        <h2 class="nav-menu-item"> <a href="projects.html">Projects</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/base.js"></script>
    <script src="../js/contact.js"></script>
</body>

</html>