<!DOCTYPE html>
<html>
    <head>
        <title>Dotfiles</title>
        <link rel="stylesheet" href="../styles/base.css">
        <link rel="stylesheet" href="../styles/dotfiles.css">
        <meta charset="UTF-8">
    </head>
    <body>
        <header>
            <h1>NewbyS</h1>
            <img src="../assets/menu.svg" alt="The navigation menu" id="nav-icon" />
            <div id="mobile-nav-menu">
                <ul>
                    <li>
                        <p><a href="../index.html">Home</a></p>
                    </li>
                    <li>
                        <p><a href="about.html">About</a></p>
                    </li>
                    <li>
                        <p><a href="resume.html">Resume</a></p>
                    </li>
                    <li>
                        <p><a href="projects.html">Projects</a></p>
                    </li>
                    <li>
                        <p><a href="contact.html">Contact</a></p>
                    </li>
                </ul>
            </div>
        </header>
    <script src="../js/base.js"></script>
    <script src="../js/dotfiles.js"></script>
    </body>
</html>