<!DOCTYPE html>
<html>
<head>
    <title>Samuel Newby</title>
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/projects.css">
    <meta charset="UTF-8">
</head>

<body>
    <header>
        <h1><a href="../index.html">NewbyS</a></h1>
        <img src="../assets/menu.svg" alt="The navigation menu" id="nav-icon" />
        <div id="mobile-nav-menu">
            <ul>
                <li>
                    <p></p>
                    <p class="link"><a href="../index.html">Home</a></p>
                </li>
                <li>
                    <p></p>
                    <p class="link"><a href="about.html">About</a></p>
                </li>
                <li>
                    <p></p>
                    <p class="link"><a href="resume.html">Resume</a></p>
                </li>
                <li>
                    <p></p>
                    <p class="link"><a href="contact.html">Contact</a></p>
                </li>
            </ul>
        </div>
    </header>
    <section>
        <div>
            <p class="command-date"></p>
            <p id="projects-command" class="hidden-typed">$ show projects</p>
            <div id="project-container">
                <div>
                    <h2>Project Life</h2>
                    <img src="../assets/projectlife.jpg" alt="Project Life Homepage">
                    <p>A project and task tracker</p>
                </div>
                <div>
                    <h2>Neo Deerhunt Backend</h2>
                    <img src="../assets/deerhunt.jpg" alt="Neo Deerhunt Webpage">
                    <p>A python flask web server created for a school event where players design an AI and compete in tournament style matches.
                    </p>
                </div>
                <div>
                    <h2>Sudoku</h2>
                    <img src="../assets/sudoko.jpg" alt="A sudoku board">
                    <p>A school project, designed using agile with my role being the scrum master</p>
                </div>
                <div>

                </div>
            </div>
            <div id="nav-container">
                <p class="command-date hidden-response" id="navigation-date">30/03/21</p>
                <p id="show-navigation" class="hidden-typed">$ navigation</p>
                <div id="nav-menu" class="hidden-response">
                    <div>
                        <h2>></h2>
                        <h2 class="nav-menu-item"> <a href="../index.html">Home</a></h2>
                    </div>
                    <div>
                        <h2>></h2>
                        <h2 class="nav-menu-item"> <a href="about.html">About</a></h2>
                    </div>
                    <div>
                        <h2>></h2>
                        <h2 class="nav-menu-item"> <a href="resume.html">Resume</a></h2>
                    </div>
                    <div>
                        <h2>></h2>
                        <h2 class="nav-menu-item"> <a href="contact.html">Contact</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/base.js"></script>
    <script src="../js/projects.js"></script>
</body>

</html>