<!DOCTYPE html>
<html>
<head>
    <title>Samuel Newby</title>
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/resume.css">
    <meta charset="UTF-8">
</head>

<body>
    <header>
        <h1><a href="../index.html">NewbyS</a></h1>
        <img src="../assets/menu.svg" alt="The navigation menu" id="nav-icon" />
        <div id="mobile-nav-menu">
            <ul>
                <li>
                    <p><a href="../index.html">Home</a></p>
                </li>
                <li>
                    <p><a href="about.html">About</a></p>
                </li>
                <li>
                    <p><a href="projects.html">Projects</a></p>
                </li>
                <li>
                    <p><a href="contact.html">Contact</a></p>
                </li>
            </ul>
        </div>
    </header>
    <section>
        <div>
            <div id="nav-container">
                <p class="command-date hidden-response" id="navigation-date">30/03/21</p>
                <p id="show-navigation" class="hidden-typed">$ navigation</p>
                <div id="nav-menu" class="hidden-response">
                    <div>
                        <h2>></h2>
                        <h2 class="nav-menu-item"> <a href="../index.html">Home</a></h2>
                    </div>
                    <div>
                        <h2>></h2>
                        <h2 class="nav-menu-item"> <a href="about.html">About</a></h2>
                    </div>
                    <div>
                        <h2>></h2>
                        <h2 class="nav-menu-item"> <a href="projects.html">Projects</a></h2>
                    </div>
                    <div>
                        <h2>></h2>
                        <h2 class="nav-menu-item"> <a href="contact.html">Contact</a></h2>
                    </div>
                </div>
            </div>
        </div>
        <iframe src="../assets/resume.pdf" width="100%" height="1275px"></iframe>
    </section>
    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/base.js"></script>
    <script src="../js/resume.js"></script>
</body>

</html>