@font-face {
    font-family: TerminusFont;
    src: url("../assets/font/Terminus.woff") format("woff");
}

@keyframes icon_hover {
    0% {transform: rotate(0)}
    15% {transform: rotate(5deg)}
    30% {transform: rotate(0)}
    45% {transform: rotate(-5deg)}
    60% {transform: rotate(0)}
    75% {transform: rotate(5deg)}
    80% {transform: rotate(0)}
    90% {transform: rotate(-5deg)}
    100% {transform: rotate(0)}
}

/* Typing and entering animations */
@keyframes typing {
    from {width: 0;}
    to {width: 10em}
}

@keyframes caret {
    from, to {border-color: transparent;}
    50% {border-color: #50FA7B;}
}

@keyframes response {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* The default styles for the page */
body {
    background-color: #1C1D26;
    color: #50FA7B;
    margin: 0;
    padding: 0;
    font-family: TerminusFont;
}

a {
    text-decoration: none;
    color: #50FA7B
}

/* Styles for the header */
header {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #323444;
    height: 100px;
    width: 100%;
}

header h1 {
    padding: 0;
    margin: auto;
    font-family: TerminusFont;
    font-size: 48pt;
}

header img {
    position: absolute;
    top: 35%;
    right: 5px;
    width: 50px;
}

/* Header styling for the mobile size */


/* Mobile navigation menu */
#navigation-date {
    opacity: 0;
    animation: response .2s linear 0s 1 normal forwards;
}

#show-navigation {
    width: 0;
    overflow: hidden;
    margin: 0;
    border-right: 2px solid transparent;
    white-space: nowrap;
    animation: typing 3s linear 0s 1 normal forwards,
    caret .6s linear 0s 3;
}

/* Mobile navigation menu */
#nav-icon {
    display: none;
}

#mobile-nav-menu {
    background-color: #1C1D26;
    position: absolute;
    top: 40px;
    right: 50px;
    border: 2px solid #50FA7B;
    visibility: hidden;
    z-index: 2;
}

#mobile-nav-menu ul {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    list-style: none;
}

/* Elements with animations */
#mobile-nav-menu li:hover {
    animation-name: icon_hover;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

/* CSS for medium and smaller sized screens */
@media only screen and (max-width: 1000px) {
    #nav-container {
        display: none;
    }
    #nav-icon {
        display: flex;
        margin-right: 20px;
    }
}

/* Container for the content */
section {
    margin-left: 50px;
    margin-top: 40px;
    position: relative;
}

section p {
    font-size: 16pt;
}

/* The navigation buttons on the site */
#nav-menu {
    margin-top: 50px;
    opacity: 0;
    animation: response .2s linear 2s 1 normal forwards;
    display: flex;
    justify-content: space-around;
    font-size: 24pt;
}

#nav-menu div {
    display: flex;
}

.nav-menu-item {
    padding-left: 10px;
}

.nav-menu-item:hover {
    animation-name: icon_hover;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

.date {
    margin: 0;
}