<!DOCTYPE html>
<html>

<head>
    <title>Samuel Newby</title>
    <link rel="stylesheet" href="styles/base.css">
    {{.Stylesheets}}
    <meta charset="UTF-8">
</head>

<body>
    <header>
        <h1>NewbyS</h1>
        <img src="assets/menu.svg" alt="The navigation menu" id="nav-icon" />
        <div id="mobile-nav-menu">
            <ul>
                <li>
                    <p><a href="about">About</a></p>
                </li>
                <li>
                    <p><a href="resume">Resume</a></p>
                </li>
                <li>
                    <p><a href="projects">Projects</a></p>
                </li>
                <li>
                    <p><a href="dotfiles">Dotfiles</a></p>
                </li>
                <li>
                    <p><a href="contact">Contact</a></p>
                </li>
            </ul>
        </div>
    </header>
    <section>
        {{.Content}}
    </section>
    <script src="js/base.js"></script>
    {{.Javascripts}}
</body>

</html>