/* Typing and entering animations */
@keyframes typing {
    from {width: 0;}
    to {width: 10em}
}

@keyframes caret {
    from, to {border-color: transparent;}
    50% {border-color: #50FA7B;}
}

@keyframes response {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.typed {
    animation: 
        caret .45s linear 0s 2;;
}

.hidden-typed {
    width: 0;
}

.hidden-response {
    opacity: 0;
}

#show-name {
    display: inline-block;
    overflow: hidden;
    margin: 0;
    white-space: nowrap;
    border-right: 1px solid transparent;
    /* animation: 
        typing 2s linear,
        caret .5s 2; */
}

#portrait {
    width: 400px;
}

#show-info {
    overflow: hidden;
    margin: 0;
    border-right: 1px solid transparent;
    white-space: nowrap;
}

#show-navigation {
    overflow: hidden;
    margin: 0;
    border-right: 2px solid transparent;
    white-space: nowrap;
}

/* The navigation buttons on the site */
#nav-menu {
    display: flex;
    justify-content: space-around;
    font-size: 24pt;
}

#nav-menu div {
    display: flex;
}

.nav-menu-item {
    padding-left: 10px;
}

.nav-menu-item:hover {
    animation-name: icon_hover;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

/* CSS for large sized screens */
@media only screen and (min-width: 1550px) {
    #portrait {
        display:flex;
        position: absolute;
        right: 300px;
        top: 0px;
    }
}

/* CSS for small sized screens (mobile) */
@media only screen and (max-width: 600px) {
    .response {
        font-size: 18pt;
        margin-left: 10px;
    }
    section {
        margin-left: 10px;
    }
  }
