/* Header styling */
header {
    display: flex;
    justify-content: center;
}

/* Navigation box */
nav {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 2px solid lightslategrey;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-content: center;
    transition: 1s
}

nav:hover {
    width: 115px;
    height: 120px;
    border-radius: 5px;
    background-color:linen;
}

nav:hover ul {
    display: block;
}

nav:hover img {
    display: none;
}

nav ul {
    list-style: none;
    padding: 5px 5px;
    margin: 0;
    display: none;
}

.nav-link {
    text-decoration: none;
    font-style: italic;
    color:lightslategrey;
    font-size: large;
}

.nav-link:visited {
    color:lightslategrey;
}

.nav-link:hover {
    color:lightsteelblue;
}
