@keyframes typing {
    from {width: 0;}
    to {width: 10em}
}

@keyframes caret {
    from, to {border-color: transparent;}
    50% {border-color: #50FA7B;}
}

@keyframes response {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* Main Content */
section {
    margin-left: 50px;
    margin-top: 40px;
    position: relative;
}

section img {
    width: 400px;
    opacity: 0;
    animation: response .2s linear 1.2s 1 normal forwards;
}

section p {
    font-size: 16pt;
}

.command-date {
    margin-bottom: 0;
}

.response {
    font-size: 24pt;
    margin-left: 25px;
    color: #ffffff
}

#nav-menu {
    display: flex;
    justify-content: space-around;
    font-size: 24pt;
}

#nav-menu div {
    display: flex;
}

.nav-menu-item {
    padding-left: 10px;
}



.nav-menu-item:hover {
    animation-name: icon_hover;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

#show-name {
    display: inline-block;
    overflow: hidden;
    margin: 0;
    white-space: nowrap;
    border-right: 1px solid transparent;
    animation: 
        typing 2s linear,
        caret .5s 2;
}

#name {
    opacity: 0;
    animation: response .2s linear 1.2s 1 normal forwards;
}

#info-date {
    opacity: 0;
    animation: response .2s linear 1.3s 1 normal forwards;
}

#show-info {
    width: 0;
    overflow: hidden;
    margin: 0;
    border-right: 1px solid transparent;
    white-space: nowrap;
    animation: typing 2s linear 1.3s 1 normal forwards,
    caret .5s linear 1.3s 2;;
}

#info {
    opacity: 0;
    animation: response .2s linear 2.5s 1 normal forwards;
}

#navigation-date {
    opacity: 0;
    animation: response .2s linear 2.6s 1 normal forwards;
}

#show-navigation {
    width: 0;
    overflow: hidden;
    margin: 0;
    border-right: 2px solid transparent;
    white-space: nowrap;
    animation: typing 3s linear 2.6s 1 normal forwards,
    caret .6s linear 2.6s 3;
}

#nav-menu {
    opacity: 0;
    animation: response .2s linear 4.5s 1 normal forwards;
}

/* CSS for large sized screens */
@media only screen and (min-width: 1550px) {
    section img {
        display:flex;
        position: absolute;
        right: 300px;
        top: 0px;
        animation: response .2s linear 1.2s 1 normal forwards;
    }
}

/* CSS for small sized screens (mobile) */
@media only screen and (max-width: 600px) {
    .response {
        font-size: 18pt;
        margin-left: 10px;
    }
    section {
        margin-left: 10px;
    }
  }

